---
import '../styles/global.css'

---

<button>
   Request Invite
</button>


<style>
   button {
      font-size: var(--fs-100);
      font-weight: var(--fw-bold);
      line-height: var(--fh-700);
      border: none;
      outline: none;
      background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
      color: var(--white);
      padding: 0.8rem 3.3rem;
      text-align: center;
      border-radius: 40px;
      cursor: pointer;
      
   }

   button:hover{
      opacity: 0.8;
   }
</style>