---

---

<button>
   Request Invite
</button>

<style >
   button {
      /* display: none; */
      border: none;
      outline: none;
      all: unset;
      width: 7em;
      background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
      color: var(--white);
      margin: 20px 0;
      padding: 10px 40px;
      text-align: center;
      border-radius: 40px;
      cursor: pointer;
   }
</style>