---
import { Icon } from 'astro-icon'
import Button from './Button.astro'
const navLinks = [
   {
      name: 'Home',
      url: '/',
   },
   {
      name: 'About',
      url: '#',
   },
   {
      name: 'Contact',
      url: '#',
   },
   {
      name: 'Blog',
      url: '#',
   },
   {
      name: 'Careers',
      url: '#',
   },
]



import close from '../icons/icon-close.svg'
import hamburger from '../icons/icon-hamburger.svg'
---

<header>
   <div class="content-container">
      <nav>
         <Icon name='logo' class="logo" />
         <ul class="desktop-links" role='navigation'>
            {navLinks.map(link =>(
            <li>
               <a href={link.url}>{link.name}</a>
            </li>
            ))}
         </ul>
         <div class="display">
            <Button />
         </div>
         <button class="btn" aria-expanded="false" aria-label="Open mobile nav">
            <img src='src/icons/icon-hamburger.svg' alt="hamburger button">
         </button>
         <!-- dropdown mobile nav -->
         <ul class="mobile-links">
            {navLinks.map(link =>(
            <li>
               <a href={link.url}>{link.name}</a>
            </li>
            ))}
         </ul>
         <!-- dropdown mobile nav end -->

         <div class="overlay"></div>
      </nav>

   </div>
</header>

<style>
   
   header {
      position: relative;
      background-color: var(--white);

   }

   a {
      font-size: var(--fs-650);
      line-height: var(--fh-50);
      letter-spacing: var(--fls-50);
   }

   nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 22px;
      padding-bottom: 22px;
   }

   .desktop-links {
      display: none;
   }

   /* Mobile nav */
   .mobile-links {
      z-index: 10;
      position: absolute;
      top: 90px;
      width: 327px;
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 24px;
      background-color: var(--white);
      padding-top: 32px;
      padding-bottom: 32px;
      border-radius: 7px;
      opacity: 0;
      transition: opacity .15s ease-in-out;
   }

   .desktop-links a {
      color: var(--grayish-blue);
   }

   .desktop-links a:hover {
      color: var(--dark-blue);
   }

   .mobile-links a {
      color: var(--dark-blue);

   }

   .btn[aria-expanded="true"]+.mobile-links {
      opacity: 1;
   }

   .overlay {
      position: fixed;
      z-index: -1;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
      opacity: 0;
      transition: opacity .15s ease-in-out;
   }

   .btn[aria-expanded="true"]~.overlay {
      opacity: 1;
   }

   /* Mobile nav end */

   .btn {
      background: transparent;
      border-color: transparent;
   }

   .logo {
      height: 20px;
   }

   /* for the button component */
   .display {
      display: none;
   }

   @media(min-width: 500px) {

      nav {
         /* padding-top: 20px;
         padding-bottom: 20px; */
         max-height: 80px;
      }

      .desktop-links {
         display: flex;
         column-gap: 30px;
      }

      /* desktop hover effect */
      .desktop-links li{
         position: relative;
      }

      .desktop-links li:after{
         content: '';
         position: absolute;
         height: 5px;
         width: 0;
         background: var(--lime-green);
         bottom: -30px;
         right: 0%;
         transition: .15s;
      }

      .desktop-links li:hover:after{
         width: 100%;
         left: 0%;
      }

      /* desktop hover effect end */


      .btn {
         display: none;
      }

      /* for the button component */
      .display {
         display: block;
      }

      /* Mobile nav */
      .mobile-links {
         display: none;
      }

      .overlay {
         display: none;
      }

      /* Mobile nav end */
   }
</style>

<script is:inline>
   const btn = document.querySelector('.btn');
   //btnChild used for image swap function
   const btnChild = btn.children[0];
   btn.addEventListener('click', function () {
      btn.setAttribute('aria-expanded', btn.getAttribute('aria-expanded') === 'false' ? 'true' : 'false')
      imgSwap(btnChild)
   })

   function imgSwap(btnChild) {
      if (btnChild.src.match('src/icons/icon-hamburger.svg')) {
         btnChild.src = 'src/icons/icon-close.svg'
      } else {
         btnChild.src = 'src/icons/icon-hamburger.svg'
      }
   }
</script>